<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styleChatRoom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <section id="chatRoom" class=" col sm-9 ">
        <div class="container my-4">

            <p class="font-weight-bold">BIENVENUE SUR NOTRE CHAT ROOM .</p>

            <hr class="my-5">

            <div class="border border-light p-5">

                <ul class="list-unstyled">
                    <li class="d-flex justify-content-start mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" alt="avatar"
                            class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                        <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <strong class="primary-font">Brad Pitt</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                ut
                                labore et dolore magna aliqua.
                            </p>
                        </div>
                    </li>
                    <li class="d-flex justify-content-end mb-4">
                        <div class="chat-body white p-3 z-depth-1">
                            <div class="header">
                                <strong class="primary-font">Lara Croft</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium.
                            </p>
                        </div>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="avatar"
                            class="avatar rounded-circle mr-0 ml-3 z-depth-1">
                    </li>
                    <li class="d-flex justify-content-start mb-4 pb-3">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" alt="avatar"
                            class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                        <div class="chat-body white p-3 ml-2 z-depth-1">
                            <div class="header">
                                <strong class="primary-font">Brad Pitt</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                            </div>
                            <hr class="w-100">
                            <p class="mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt
                                ut
                                labore et dolore magna aliqua.
                            </p>
                        </div>
                    </li>
                    <li class="white">
                        <div class="form-group basic-textarea">
                            <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3"
                                placeholder="Type your message here..."></textarea>
                        </div>
                    </li>
                    <button type="button"
                        class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
                </ul>

            </div>

        </div>
    </section>
    <aside id="listUsers" class="col sm-4 flex-column d-flex justify-content-start">
        <section>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!">Mon profil</a>
                </li>

            </ul>

        </section>
        <section>
            <div>
                <% gourmand.forEach(function(u) { %>
                <div><%= u.user_name %> <button><i class="far fa-edit"> </i> </button><button type="button"
                        onclick="supprimer('<%=u.user_id%>')"><i class="fas fa-trash-alt"></i></button></div>

                <% }); %>
            </div>
            <!-- <ul class="list-group list-group-flush"> 
               <li class="list-group-item list-group-item-action">Username 1 
                         
               <li class="list-group-item list-group-item-action">Username 2 <i class="far fa-edit"> </i> <i
                       class="fas fa-trash-alt"></i></li>
               <li class="list-group-item list-group-item-action">Username 3 <i class="far fa-edit"></i> <i
                       class="fas fa-trash-alt"></i></li> -->


        </section>

    </aside>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
        </script>
    <script src="Chatroom.js"></script>

</body>
</html>